services:
  backend:
    build: .
    image: chemseddine24/todo-app
    container_name: backend-1
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    environment:
      - PYTHONUNBUFFERED=1
      - DATABASE_URL=postgresql+psycopg2://chemseddine:chemsou@db:5432/chemseddine
    depends_on:
      - db

  db:
    image: postgres:15
    container_name: db
    restart: always
    environment:
      POSTGRES_USER: chemseddine
      POSTGRES_PASSWORD: chemsou
      POSTGRES_DB: chemseddine
    ports:
      - "5433:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data

volumes:
  pg_data:
