[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
requests = "*"
psycopg2 = "*"
psycopg2-binary = "*"
python-dotenv = "*"
alembic = "*"
sqlalchemy = {extras = ["asyncio"], version = "*"}
asyncpg = "*"
passlib = "*"
pyjwt = "*"
python-jose = "*"
python-multipart = "*"

[dev-packages]

[requires]
python_version = "3.12"
